
<%if(typeof(user)!=='undefined'){%>
  <section>
      <img src="<%= user.picture.pic_path %>" alt="<%= user.picture.pic_name %>" />
  </section>
<% }%>
<%if(typeof(user)!=='undefined'){%>
  <%if (currentUser.username === user.username){ %>
    <section>
      <h2>Upload your photo</h2>
      <form action="/uploadprofile" method="post" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="photo">
        <input type="submit" value="Save">
      </form>
    </section>
  <% }%>
<% }%>


<ul>
  <%if(typeof(user)!=='undefined'){%>
    <li>
      <p>
        <%=user.name%>
      </p>
    </li>
    <li>
      <p>
        <%=user.username%>
      </p>
    </li>
    <li>
      <p>
        <%=user.lastName%>
      </p>
    </li>
    <li>
      <p>
        <%=user.email%>
      </p>
    </li>
    <%}%>
</ul>

<h1>Profile WALL</h1>
<ul>
  <%if(typeof(wall)!=='undefined'){%>
    <% if(wall.messages.length){ %>
      <% wall.messages.forEach((message)=>{%>
        <li>
          <p>
            <%=message.message%>
              </a>
          </p>
        </li>
        <%})%>
          <%}%>
            <%}%>

</ul>


<form action="/<%= user._id %>/profile/wallmessage" method="POST" id="form-container">
  <label for="wallText">Message: </label>
  <input id="wallText" type="text" name="wallText" placeholder="your text here" required>
  <br><br>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
      <br><br>

      <button>New message</button>

</form>

<h1>AQUI LAS RUTAS</h1>
<ul>
  <% if(user.routes.length){ %>
    <% user.routes.forEach((route)=>{ %>
          <li><a href="/routes/<%= route._id %>/show"><%= route.name %></a></li>
    <% })%>
  <% }%>
</ul>
<%if (currentUser.username === user.username){ %>
  <a href="/routes/new">New Route</a>

<%}%>





<p class="main">
  <a href="/main">Home</a>
</p>
