<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>
    Main
  </title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="/">Private Area</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/history">History</a>
              </li>
              <li>
                <a href="/calendar">Calendar</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class='Main' href="/">Main</a></li>
                  <li><a class='Profile' href="/">Profile</a></li>
                  <li><a class='Routes' href="/">Routes</a></li>
                  <li><a class='Edit' href="/">Edit your Profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a class='LogOut' href="/logout">Log Out</a></li>
                </ul>
              </li>
          </div>
        </nav>
        <div class="row">
          <div class="row">
            <div class="col-md-2 ">
              <ul class="ulUsers">
                <li><p class="listUsers active">Users</p></li>
                <%if(typeof(users)!=='undefined'){%>
                  <% users.forEach((user)=>{%>
                    <li>
                      <p>
                        <a class="listUsers " href="/profile/<%=user._id%>/show">
                          <%=user.username%>
                        </a>
                      </p>
                    </li>
                    <%})%>
                      <%}%>
              </ul>
            </div>
            <div class="col-md-6" align="center">
              <h1>Aqui el calendar</h1>

              <iframe src="https://calendar.google.com/calendar/embed?src=scb42901388thsu2tbti76fie8%40group.calendar.google.com&ctz=Europe/Madrid" style="border: 0" width="450vw" height="450vw" frameborder="0" scrolling="no"></iframe>
            </div>




            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading"><h4><strong>Wall of Comments</strong></h4></div>
                <div class="panel-body">
                  <p>Enjoy with the mountain</p>
                </div>

                <ul class="list-group">
                  <%if(typeof(wall)!=='undefined'){%>
                    <% if(wall.messages.length){ %>
                      <% wall.messages.forEach((message)=>{%>
                        <li class="list-group-item"><p><%=message.message%></p></li>
                      <%})%>
                    <%}%>
                  <%}%>
                </ul>
                <br><br>
              </div>
              <form action="/<%=wall._id%>/messages/new" method="POST" id="form-container">
                <label for="wallText">Message: </label>
                <input id="wallText" type="text" name="wallText" placeholder="your text here" required>
                <% if (typeof message !== "undefined") { %>
                  <div class="error-message">
                    <%= message %>
                  </div>
                  <% } %>
                <button type="submit" class="btn btn-primary">New message</button>
                <br><br>
              </form>
              <div class="row" align="center">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/routes/index'">See All the routes</button>
                </div>
            </div>
          </div>
        </div>
        <div id="justpushtobottom">
        </div>

        <footer class="footer2 p-t-1">
          <div class="container">
            <div class="pull-right">
              <nav class="navbar" style="background:transparent; color: black;">
                <nav class="nav navbar-nav pull-xs-left">

                  <a class="nav-item nav-link" href="https://www.youtube.com/watch?v=H1sXTmaqRHU">Wellcome to the Valhalla Titans!!</a>
                </nav>
              </nav>
            </div>

            <a href="https://www.facebook.com/mountainandcomedy/?fref=ts"><i class="fa fa-facebook fa-2x"></i></a>

            <a href="https://twitter.com/mountain_comedy"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/mountainandcomedy/"><i class="fa fa-instagram fa-2x"></i></a>

            <p class="h6">
              Powered by Ironhack
              <a href="http://www.ironhack.com" target="_blank"></a>
            </p>
          </div>
        </footer>
      </div>


      </body>

      </html>
