<h1>una mierda pa tu culo</h1>


<ul>
  <%if(typeof(users)!=='undefined'){%>
    <% users.forEach((user)=>{%>
      <li>
        <p>
          <a href="/profile/<%=user._id%>/show">
            <%=user.username%>
          </a>
        </p>
      </li>
      <%})%>
        <%}%>
</ul>



<h1>AQUI EL CALENDAR</h1>


<h1>AQUI EL WALL</h1>
<ul>
  <%if(typeof(wall)!=='undefined'){%>
    <% if(wall.messages.length){ %>
      <% wall.messages.forEach((message)=>{%>
        <li>
          <p>
            <%=message.message%>
              </a>
          </p>
        </li>
        <%})%>
          <%}%>
            <%}%>

</ul>
<form action="/<%=wall._id%>/messages/new" method="POST" id="form-container">
  <label for="wallText">Message: </label>
  <input id="wallText" type="text" name="wallText" placeholder="your text here" required>
  <br><br>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
      <br><br>

      <button>New message</button>

</form>

<p class="account-message">
  <a href="/routes/index">See All the routes</a>
  <br><br>

  <a href="/">Home</a>
</p>
