<h1><%= albumn.title %></h1>
<p><strong>Title Albumn: </strong><%= albumn.title %></p>

<section>
  <h2>Upload your photo</h2>
  <form action="/routes/<%= albumn.route_id %>/albumns/<%= albumn._id %>/uploadalbumnimage" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section>

<ul>
<% if(albumn.pictures.length){ %>
<%  albumn.pictures.forEach((picture)=>{ %>
    <li><section>
      <img src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" /><a href="/routes/<%= albumn.route_id %>/albumns/<%= albumn._id %>/delete-image/<%= picture._id %>">Delete</a>
    </section></li>
<% }) %>
<% } %>
</ul>


<p class="account-message">
  <a href="/routes/<%= albumn.route_id %>/albumns/<%= albumn._id %>/show">Return to album</a>
</p>
