<h1><%= albumn.title %></h1>
<p><strong>Title Albumn: </strong><%= albumn.title %></p>

<ul>
<% if(albumn.pictures.length){ %>
<%  albumn.pictures.forEach((picture)=>{ %>
    <section>
      <img src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" />
    </section>
<% }) %>
<% } %>
</ul>

<%if (currentUser.id == albumn.owner_id){ %>
  <p class="account-message">
    <a href="/routes/<%=albumn.route_id%>/albumns/<%=albumn._id%>/edit">Edit</a>
  </p>
<%}%>

<p class="account-message">
  <a href="/routes/<%=albumn.route_id%>/show">Go back to Route</a>
</p>

<p class="account-message">
  <a href="/main">Main</a>
</p>
